.background {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.bg-image.active {
  opacity: 1;
  z-index: 1;
}

.title {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3rem;
  text-shadow: 0 2px 10px rgba(0,0,0,0.6);
  pointer-events: none;
  z-index: 2;
}